{% extends 'base.html' %}
{% block title %}{{ accion }} Autor{% endblock %}
{% block page_title %}{{ accion }} Autor{% endblock %}

{% block content %}
<div class="card p-4" style="max-width:600px; margin:0 auto;">
    <h5 class="fw-bold mb-4"><i class="bi bi-person me-2 text-primary"></i>{{ accion }} Autor</h5>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label fw-semibold">Nombre *</label>{{ form.nombre }}
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label fw-semibold">Apellido *</label>{{ form.apellido }}
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label fw-semibold">Nacionalidad</label>{{ form.nacionalidad }}
        </div>
        <div class="mb-3">
            <label class="form-label fw-semibold">Biografía</label>{{ form.biografia }}
        </div>
        <div class="mb-3">
            <label class="form-label fw-semibold">Foto</label>{{ form.foto }}
        </div>
        <div class="d-flex gap-2">
            <button type="submit" class="btn btn-primary">
                <i class="bi bi-save me-2"></i>{{ accion }}
            </button>
            <a href="{% url 'catalogo:autor_lista' %}" class="btn btn-outline-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}